.card {
  background-color: var(--mantine-color-body);
}

.item {
  &+& {
    padding-top: var(--mantine-spacing-sm);
    margin-top: var(--mantine-spacing-sm);
  }
}

.switch {
  & * {
    cursor: pointer;
  }
}

.title {
  line-height: 1;
}
