.card {
    background-color: var(--mantine-color-body);
}

.avatar {
    border: rem(2px) solid var(--mantine-color-body);
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}

.control {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
}
