.burger {
  position: absolute;
}

.navbar {
  padding: var(--mantine-spacing-md);
  padding-top: 0;

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: var(--mantine-spacing-md);
  }
}

.navbar_header_text {
  display: none;
  font-weight: bolder;

  @media (max-width: $mantine-breakpoint-sm) {
    display: block;
  }
}

.mobile_nav_header {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-md);
  }
}

.breadcrumb_links {
  font-weight: 600;

  @mixin hover {
    opacity: 0.85;
  }
}

.main {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}
