.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: var(--mantine-spacing-md);
  height: 65px;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: calc(var(--mantine-spacing-md) * 1);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.footer {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}

.userSkeleton {
  width: 100%;
  padding: var(--mantine-spacing-md);
}

.searchBox {
  .section {
    @mixin hover {
      cursor: pointer;
    }
  }

  input {
    @mixin hover {
      cursor: pointer;
    }
  }
  
  &:focus, &:focus-within {
    input {
    outline: none;
    box-shadow: none;
    border-color: var(--input-bd);
    }
  }

  @mixin hover {
    cursor: pointer;

    .searchCodeContainer {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.searchCodeContainer {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.searchCode {
  font-weight: 500;
  font-size: 12px;
  line-height: initial;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
